content {
	text-align: center;
	overflow-y: auto;
	width: 300%;
	float: left;
	transition: all .4s ease-out;
}

content>* {
	width: 33.33%;
	padding: 1em;
	position: relative;
	float: left;
}

card {
	width: 6em;
	height: 8em;
	display: inline-flex;
	flex-flow: column;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
	border-radius: 0.5em;
	margin: 1em;
	cursor: pointer;
}

card top {
	display: block;
	height: 2.5em;
	line-height: 2.5;
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

card bottom {
	line-height: 1.5;
	font-size: 0.7em;
	padding: 0.5em;
}

navigation>item {
	width: 33.33% !important;
}

navigation>item img {
	height: 2em;
}

mapCanvas {
	display: inline-block;
	width: 100%;
	height: 40em;
	border-radius: 0.5em;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

block,
chart {
	display: inline-block;
	position: relative;
	background: rgba(255, 255, 255, 0.9);
	padding: 1.5em;
	border-radius: 1em;
	margin: 1em 0;
	box-shadow: 0 0 2em rgb(0 0 0 / 30%);
	width: 40em;
	color: black;
	line-height: 1.8;
}

popup {
	transform: scale(0);
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0.5em;
	transition: all .4s ease-out;
	color: black;
	bottom: 4em;
	width: initial !important;
	left: 1em !important;
	top: 1em !important;
	right: 1em !important;
	z-index: 7;
	padding: 1em !important;
}

popup close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.5em 0.75em 5em 5em;
	opacity: 0.3;
	cursor: pointer;
}

popup panel {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}